 <div id="login-header-region">
					<div class="head-region">
						<div class="am-topbar-right">
							<div class="icon-1 am-topbar-btn am-btn" title="邀请">
								<span class="am-icon-user-plus"></span>
							</div>
						</div>
						<div class="am-topbar-right">
							<div class="icon-1 am-topbar-btn am-btn" title="私信">
								<span class="am-icon-envelope"></span>
							</div>
						</div>
						<div class="am-topbar-right">
							<div class="icon-1 am-topbar-btn am-btn" title="通知">
								<span class="am-icon-flag"></span>
							</div>
						</div>
					</div>
					<div class="head-region">
						<div class="am-topbar-right">
							<div class="uinfo-inner">
								<div class="avatar">
									<a href="#">
										<img src="img/rockhentai.png" alt="" class="face">
									</a>
								</div>
								<div class="user-stuff" id="user-menu-profile">
									<div class="info">
										<div class="uname">
											<h3>Rockhentai</h3>
										</div>
										<div class="account-set user-info">
											<span class="am-icon-cog"></span> 帐号设置
										</div>
										<div class="exit user-info">
											<span class="am-icon-reply"></span> 退出帐号
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
