
				<div id="unlogin-header-region">
					<div class="am-topbar-right">
						<button class="am-btn am-btn-primary am-topbar-btn am-btn-sm" id="register" data-am-modal="{target:'#modal-register',closeViaDimmer:0}">
							<span class="am-icon-pencil"></span> <span class="icon-text">注册</span>
						</button>
					</div>
					<div class="am-topbar-right">
						<button class="am-btn am-btn-primary am-topbar-btn am-btn-sm" id="signup" data-am-modal="{target:'#modal-signup',closeViaDimmer:0}">
							<span class="am-icon-user"></span> <span class="icon-text">登陆</span>
						</button>
					</div>
				</div>
