{% extends "base.html" %}
{% load staticfiles %}
{% block title %}用户管理 {% endblock%}
{% block navigator %}{% include "parts/navigator.html"%}{% endblock%}
{% block content %}
	<div class="s-title">
		<div class="am-g am-container">
			<div class="am-u-lg-12" style="position:relative;">
				<h1 class="server-title">用户管理</h1>
			</div>
		</div>
	</div>
	<div class="outer user">
		<div class="am-g am-container">
			<div class="am-u-lg-12 content-wrapper">
				<div class="content-title">
					基本信息
				</div>
				<div class="content-box">
					<div class="user-head">
						{% if user.exuser.sex > 0%}
						<img src="{% static 'img/user-head-female.jpg'%}" alt="" class="female">
						{% else %}
						<img src="{% static 'img/user-head.png'%}" alt="" class="female">
						{% endif %}
					</div>
					<div class="basic-info">
						<ul class="info-block">
							<li>
								<span class="lab">用户名</span>
								<span class="info">{{ user.username }}</span>
							</li>
							<li>
								<span class="lab">昵称</span>
								<span class="info">{{ user.exuser.nickname }}</span>
							</li>
							<li>
								<span class="lab">性别</span>
								<span class="info">
									{% if user.exuser.sex > 0%}
									女
									{%else%}
									男
									{% endif %}
								</span>
							</li>
						</ul>
						<ul class="info-block">
							<li>
								<span class="lab">电话</span>
								<span class="info">{{ user.exuser.phonenum}}</span>
							</li>
							<li>
								<span class="lab">邮箱</span>
								<span class="info">{{ user.email}}</span>
							</li>
							<li>
								<span class="lab">所在公司</span>
								<span class="info">{{ user.exuser.companyname }}</span>
							</li>
						</ul>
					</div>
					<a class="btn modify-btn" href="{% url 'userManage'%}"></a>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="am-g am-container">
			<div class="am-u-lg-12 content-wrapper">
				<div class="content-title">
					发布管理
				</div>	
				<script>
					function getTheArticle(boolWorks,page){
						$.get("/manage/article/"+boolWorks+"/"+page+"/",
							function(data){
								if (boolWorks == 0 ){
									$("#contentBox").html(data);
								}else{
									$("#workBox").html(data);
								}
							}
						);
					}
					function articleDel(id){
						if(confirm("您确定要删除该文章？？")){
							$.get(
								"/manage/article/del/"+id+"/",
								function(data){
									alert("删除成功");
									$("#contentBox").html(data);
								}
							);
						}
					}
					$(function(){
						getTheArticle(0,1);
						getTheArticle(1,1);
					});
				</script>

				<div class="content-box" id="contentBox">
				</div>
			</div>
		</div>
		<div class="am-g am-container">
			<div class="am-u-lg-12 content-wrapper">
				<div class="content-title" >
					我的作品
				</div>

				<div class="content-box" id="workBox">
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
	{% block footer %}
		{% include 'parts/footer.html'%}
	{% endblock %}
