<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="author" content="rockhentai">
	<link rel="icon" href="img/logo.png">
	<title>上海出版印刷高等专科学校</title>
	<link rel="stylesheet" href="css/amazeui.min.css"/>
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<div class="am-topbar am-topbar-fixed-top">
		<div class="am-container">
			<a class="am-topbar-brand">
				<img src="img/logo.png" alt="" class="logo-icon">
				<span>数字资源加工交易平台</span>
			</a>
			<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only am-collapsed" data-am-collapse="{target:'#collapse-head'}">
				<span class="am-sr-only">导航切换</span>
				<span class="am-icon-bars"></span>
			</button>
			<div class="am-collapse am-topbar-collapse" id="collapse-head">
				<ul class="am-nav am-nav-pills am-topbar-nav">
					<li class="am-active">
						<a href="#">首页</a>
					</li>
					<li class="am-dropdown" data-am-dropdown>
						<a href="javascript:;" class="am-dropdown-toggle" data-am-dropdown-toggle>
							服务分类 <span class="am-icon-caret-down"></span>
						</a>
						<ul class="am-dropdown-content">
							<li><a href="#">平面设计</a></li>
							<li><a href="#">网站建设</a></li>
							<li><a href="#">移动开发</a></li>
							<li><a href="#">影视影音</a></li>
							<li><a href="#">动漫游戏</a></li>
						</ul>
					</li>
					<li>
						<a href="#">需求信息</a>
					</li>
					<li>
						<a href="#">服务商</a>
					</li>
					<li>
						<a href="#">关于我们</a>
					</li>
				</ul>
				<!-- <div id="unlogin-header-region">
					<div class="am-topbar-right">
						<button class="am-btn am-btn-primary am-topbar-btn am-btn-sm" id="register" data-am-modal="{target:'#modal-register',closeViaDimmer:0}">
							<span class="am-icon-pencil"></span> <span class="icon-text">注册</span>
						</button>
					</div>
					<div class="am-topbar-right">
						<button class="am-btn am-btn-primary am-topbar-btn am-btn-sm" id="signup" data-am-modal="{target:'#modal-signup',closeViaDimmer:0}">
							<span class="am-icon-user"></span> <span class="icon-text">登陆</span>
						</button>
					</div>
				</div> -->
				<div id="login-header-region">
					<div class="head-region">
						<div class="am-topbar-right">
							<div class="icon-1 am-topbar-btn am-btn" title="邀请">
								<span class="am-icon-user-plus"></span>
							</div>
						</div>
						<div class="am-topbar-right">
							<div class="icon-1 am-topbar-btn am-btn" title="私信">
								<span class="am-icon-envelope"></span>
							</div>
						</div>
						<div class="am-topbar-right">
							<div class="icon-1 am-topbar-btn am-btn" title="通知">
								<span class="am-icon-flag"></span>
							</div>
						</div>
					</div>
					<div class="head-region">
						<div class="am-topbar-right">
							<div class="uinfo-inner">
								<div class="avatar">
									<a href="#">
										<img src="img/rockhentai.png" alt="" class="face">
									</a>
								</div>
								<div class="user-stuff" id="user-menu-profile">
									<div class="info">
										<div class="uname">
											<h3>Rockhentai</h3>
										</div>
										<div class="send-req user-info">
											<a href="#"><span class="am-icon-send"></span> 发布需求</a>
										</div>
										<div class="account-set user-info">
											<a href="#"><span class="am-icon-cog"></span> 帐号设置</a>
										</div>
										<div class="exit user-info">
											<a href="#"><span class="am-icon-reply"></span> 退出帐号</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="school-title">
		<div class="am-g am-container">
			<div class="am-u-lg-12" style="position:relative;">
				<div class="logo">
					<img src="img/shcb-logo.jpg" alt="">
				</div>
				<h1 class="school-name">上海出版印刷高等专科学校</h1>
			</div>
		</div>
	</div>
	<div class="school-banner">
		<div class="am-g banner-container">
			<div class="am-u-lg-12">
				<img src="img/shcb-bg.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="info-box">
		<div class="am-g am-container">
			<div class="am-u-lg-12 content-wrapper">
				<div class="school-intro">
					<h3 class="caption">学校简介：</h3>
					<p class="intro">学校创建于1953年，是新中国建立的第一所出版印刷类高等学校，中国出版印刷专业教育的摇篮，多年的传承
					与积淀形成了工、文、艺融汇且有鲜明特色的“印刷工程与包装设计”、“出版传播与文化管理”、“艺术设
					计与影视动漫”三大专业群。学校现设有印刷包装工程系、出版与传播系、印刷设备工程系、艺术设计系、文
					化管理系、影视艺术系、基础教学部、中外合作教育部和继续教育部等教学部门。</p>
				</div>
				<div class="school-intro courses">
					<h3 class="caption">主要课程：</h3>
					<p class="intro">图书编辑实务、期刊编辑实务、出版综合、
					数据库技术应用、网页设计、网页动画制作、
					数字出版物界面艺术设计、图文编辑技术等。</p>
				</div>
				<div class="school-intro contact-us">
					<h3 class="caption">联系我们：</h3>
					<p>姓名：</p>
					<p>电话：</p>
					<p>邮箱：</p>
				</div>
				<div class="clear"></div>
				<div class="service-slide">
					<div class="am-slider am-slider-default am-slider-carousel" data-am-flexslider="{itemWidth: 275, itemMargin: 5, slideshow: false}">
						<ul class="am-slides">
							<li>
    							<div class="service-item">
    								<img src="img/item1.jpg" alt="" class="item-img">
    								<p class="item-title">书籍排版</p>
    								<p class="item-price">价格：100元</p>
    							</div>
    						</li>
    						<li>
    							<div class="service-item">
    								<img src="img/item1.jpg" alt="" class="item-img">
    								<p class="item-title">三维设计</p>
    								<p class="item-price">价格：100元</p>
    							</div>
    						</li>
    						<li>
    							<div class="service-item">
    								<img src="img/item1.jpg" alt="" class="item-img">
    								<p class="item-title">APP制作</p>
    								<p class="item-price">价格：100元</p>
    							</div>
    						</li>
    						<li>
    							<div class="service-item">
    								<img src="img/item1.jpg" alt="" class="item-img">
    								<p class="item-title">封面设计</p>
    								<p class="item-price">价格：100元</p>
    							</div>
    						</li>
    						<li>
    							<div class="service-item">
    								<img src="img/item1.jpg" alt="" class="item-img">
    								<p class="item-title">广告设计</p>
    								<p class="item-price">价格：100元</p>
    							</div>
    						</li>
    						<li>
    							<div class="service-item">
    								<img src="img/item1.jpg" alt="" class="item-img">
    								<p class="item-title">书籍排版</p>
    								<p class="item-price">价格：100元</p>
    							</div>
    						</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="am-g am-container">
			<div class="am-u-lg-12 content-wrapper">
				<div class="am-g">
					<ul class="am-avg-lg-5 am-avg-md-3 am-avg-sm-2 am-thumbnails">
						<li class="item-box"><img src="img/pmsj.jpg" alt="" class="am-thumbnail"></li>
						<li class="item-box">
							<img src="img/item1.jpg" alt="" class="item-img">
    						<p class="item-title">书籍排版</p>
    						<p class="item-price">价格：100元</p>
						</li>
						<li class="item-box">
							<img src="img/item1.jpg" alt="" class="item-img">
    						<p class="item-title">名片制作</p>
    						<p class="item-price">价格：50元</p>
						</li>
						<li class="item-box">
							<img src="img/item7.jpg" alt="" class="item-img">
    						<p class="item-title">电子书制作</p>
    						<p class="item-price">价格：100元</p>
						</li>
						<li class="item-box">
							<img src="img/item8.jpg" alt="" class="item-img">
    						<p class="item-title">封面设计</p>
    						<p class="item-price">价格：50元</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="am-g am-container">
			<div class="am-u-lg-12 content-wrapper">
				<div class="am-g">
					<ul class="am-avg-lg-5 am-avg-md-3 am-avg-sm-2 am-thumbnails">
						<li class="item-box"><img src="img/web.jpg" alt="" class="am-thumbnail"></li>
						<li class="item-box">
							<img src="img/item9.jpg" alt="" class="item-img">
    						<p class="item-title">网页设计</p>
    						<p class="item-price">价格：100元</p>
						</li>
						<li class="item-box">
							<img src="img/item10.jpg" alt="" class="item-img">
    						<p class="item-title">前端开发</p>
    						<p class="item-price">价格：100元</p>
						</li>
						<li class="item-box">
							<img src="img/item11.jpg" alt="" class="item-img">
    						<p class="item-title">后台搭建</p>
    						<p class="item-price">价格：100元</p>
						</li>
						<li class="item-box">
							<img src="img/item12.jpg" alt="" class="item-img">
    						<p class="item-title">APP开发</p>
    						<p class="item-price">价格：100元</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="am-g am-container">
			<div class="am-u-lg-12 content-wrapper">
				<div class="am-g">
					<ul class="am-avg-lg-5 am-avg-md-3 am-avg-sm-2 am-thumbnails">
						<li class="item-box"><img src="img/web.jpg" alt="" class="am-thumbnail"></li>
						<li class="item-box">
							<img src="img/item9.jpg" alt="" class="item-img">
    						<p class="item-title">网页设计</p>
    						<p class="item-price">价格：100元</p>
						</li>
						<li class="item-box">
							<img src="img/item10.jpg" alt="" class="item-img">
    						<p class="item-title">前端开发</p>
    						<p class="item-price">价格：100元</p>
						</li>
						<li class="item-box">
							<img src="img/item11.jpg" alt="" class="item-img">
    						<p class="item-title">后台搭建</p>
    						<p class="item-price">价格：100元</p>
						</li>
						<li class="item-box">
							<img src="img/item12.jpg" alt="" class="item-img">
    						<p class="item-title">APP开发</p>
    						<p class="item-price">价格：100元</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="am-g am-container">
			<div class="am-u-lg-12 content-wrapper">
				<div class="am-g">
					<ul class="am-avg-lg-5 am-avg-md-3 am-avg-sm-2 am-thumbnails">
						<li class="item-box"><img src="img/media.jpg" alt="" class="am-thumbnail"></li>
						<li class="item-box">
							<img src="img/item13.jpg" alt="" class="item-img">
    						<p class="item-title">影视文案设计</p>
    						<p class="item-price">价格：100元</p>
						</li>
						<li class="item-box">
							<img src="img/item14.jpg" alt="" class="item-img">
    						<p class="item-title">影视拍摄</p>
    						<p class="item-price">价格：100元</p>
						</li>
						<li class="item-box">
							<img src="img/item15.jpg" alt="" class="item-img">
    						<p class="item-title">音频处理</p>
    						<p class="item-price">价格：100元</p>
						</li>
						<li class="item-box">
							<img src="img/item16.jpg" alt="" class="item-img">
    						<p class="item-title">后期编辑</p>
    						<p class="item-price">价格：100元</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<p><a href="#">首页</a> | <a href="#">关于我们</a> | <a href="#">联系方式</a> | <a href="#">广告服务</a> | <a href="#">用户反馈</a> | <a href="#">隐私协议</a> | <a href="#">加入我们</a></p>
	</div>
	<div class="am-modal am-modal-no-btn" tabindex="-1" id="modal-register">
		<div class="am-modal-dialog">
			<div class="am-modal-hd">
				<a href="javascript:void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
			</div>
			<div class="am-modal-bd">
				<div class="register-form">
					<form action="" method="POST" id="registerForm" class="am-form" data-am-validator>
						<fieldset>
							<legend>注册账号，免费加入数字网</legend>
							<div class="am-form-group">
								<label for="username">用户名</label>
								<input type="text" id="username" minlength="3" placeholder="输入用户名（至少三个字符）" required/>
							</div>
							<div class="am-form-group">
								<label for="email">邮箱</label>
								<input type="email" id="email" placeholder="输入邮箱" required/>
							</div>
							<div class="am-form-group">
								<label for="password">密码</label>
								<input type="password" id="password" placeholder="请输入六位以上的数字字母组合" pattern="^\w{6,}$" data-foolish-msg="请填写密码" required/>
							</div>
							<div class="am-form-group">
								<label for="password2">确认密码</label>
								<input type="password" id="password2" placeholder="请重复上面的密码" data-equal-to="#password" required/>
							</div>
							<div class="am-form-group">
								<label>你的身份：</label>
								<label class="am-radio-inline">
									<input type="radio" value="" name="identity" data-am-ucheck required> 学生
								</label>
								<label class="am-radio-inline">
									<input type="radio" name="identity" data-am-ucheck checked> 企业
								</label>
							</div>
							<div class="am-form-group">
								<label for="">验证码：</label>
								<input type="text" name="captcha" maxlength="4" class="captcha" id="captcha" required>
								<img src="http://www.dajie.com/captcha/code?t1448356219136" alt="" class="captcha-img captchChange">
								<button class="am-btn am-btn-primary repeat-btn" type="button"><span class="am-icon-repeat"></span></button>
							</div>
							<button class="am-btn am-btn-primary" type="submit">确认注册</button>
							<div class="provision">
								我已阅读并同意
								<a href="#" target="_blank">数字网服务协议</a>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="am-modal am-modal-no-btn" tabindex="-1" id="modal-signup">
		<div class="am-modal-dialog">
			<div class="am-modal-hd">
				<a href="javascript:void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
			</div>
			<div class="am-modal-bd">
				<div class="register-form">
					<form action="" method="POST" id="signupForm" class="am-form" data-am-validator>
						<fieldset>
							<legend>登陆数字网</legend>
							<div class="am-form-group">
								<label for="username">用户名</label>
								<input type="text" id="username" minlength="3" placeholder="请输入用户名/邮箱" required/>
							</div>
							<div class="am-form-group">
								<label for="password">密码</label>
								<input type="password" id="password" placeholder="请输入密码" pattern="^\w{6,}$" data-foolish-msg="请填写密码" required/>
								<a href="#" class="fg-psw">忘记密码？</a>
							</div>
							<button class="am-btn am-btn-primary" type="submit">立即登陆</button>
							<div class="go-reg">
								<p>还没有数字网账号？<a href="#">立即注册 <span class="am-icon-arrow-circle-right"></span></a></p>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script src="js/jquery.js"></script>
	<script src="js/amazeui.min.js"></script>
	<script src="js/index.js"></script>
</body>
</html>