{% extends "base.html" %}
{% load staticfiles %}
{% block title %}用户管理{%endblock%}
{% block navigator %}{% include "parts/navigator.html"%}{% endblock %}
{% block content %}
<div class="s-title">
		<div class="am-g am-container">
			<div class="am-u-lg-12" style="position:relative;">
				<h1 class="server-title">用户管理</h1>
			</div>
		</div>
	</div>
	<div class="outer user">
		<div class="am-g am-container">
			<div class="am-u-lg-12 content-wrapper">
				<div class="content-title">
					修改资料
				</div>
				<div class="content-box">
					<div class="user-head">
								{% if request.user.exuser.sex > 0 %}
								<img src="{% static 'img/user-head-female.jpg' %}" alt="" >
								{% else %}
								<img src="{% static  'img/user-head.png' %}" alt="" >
								{% endif %}
					</div>
					<div class="modify-info">
						<form action="{% url 'userManage'%}" method="POST" id="modifyDataForm" class="am-form" data-am-validator>
							{% csrf_token %}
							<fieldset>
								<div class="am-form-group">
									<label for="username">用户名</label>
									<input type="text" id="username" name="username" placeholder="" class="input" value="{{ user.username}}">
								</div>
								<div class="am-form-group">
									<label for="{{exUserForm.nickname.id_for_label}}">昵称</label>
									{{exUserForm.nickname}}
									<span>{{esUserForm.nickname.errors}}</span>
								</div>
								<div class="am-form-group">
									<label for="{{exUserForm.sex.id_for_label}}">性别</label>
									{{exUserForm.sex}}
									<span>{{esUserForm.sex.errors}}</span>
								</div>
								<div class="am-form-group">
									<label for="username">邮箱</label>
									<input type="text" id="email" placeholder="" name="email" class="input" value="{{ user.email}}">
								</div>
								<div class="am-form-group">
									<label for="{{exUserForm.phonenum.id_for_label}}">电话</label>
									{{exUserForm.phonenum}}
									<span>{{esUserForm.phonenum.errors}}</span>
								</div>
								<div class="am-form-group">
									<label for="{{exUserForm.companyname.id_for_label}}">所在公司</label>
									{{exUserForm.companyname}}
									<span>{{esUserForm.companyname.errors}}</span>
								</div>
								<button class="am-btn am-btn-primary" type="submit" id="save">保存</button>
							</fieldset>
						</form>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="am-g am-container">
			<div class="am-u-lg-12 content-wrapper">
				<div class="content-title">
					修改密码
				</div>
				<div class="content-box changePsw">
					<div class="modify-info">
						<form action="{% url 'userPassword'%}" method="POST" id="changePswForm" class="am-form" data-am-validator>
							{% csrf_token %}
							<fieldset>
								<div class="am-form-group">
									<label for="currentPsw">当前密码</label>
									<input type="password" name="password" id="currentPsw" placeholder="请输入3-12个字符" class="input" pattern="^\w{3,12}$">
								</div>
								<div class="am-form-group">
									<label for="newPsw">设置新密码</label>
									<input type="password" id="newPsw" name="newpassword"  placeholder="请输入3-12个字符" class="input" pattern="^\w{3,12}$">
								</div>
								<div class="am-form-group">
									<label for="confirmPsw">确认新密码</label>
									<input type="password" name="connewpassword" id="confirmPsw" placeholder="请再次输入您的新密码" class="input" data-equal-to="#newPsw">
								</div>
								<button class="am-btn am-btn-primary" type="submit" id="save">保存</button>
							</fieldset>
						</form>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
	{% block footer%}
	{% include 'parts/footer.html'%}
	{% endblock %}
