<a class="{% if boolWorks == '0'%}btn add-btn{% else %}btn work-btn{% endif %}" href="/manage/article/add/{{boolWorks}}/"></a>
<table class="am-table am-table-striped am-table-hover">
<thead>
	<tr>
		<td>编号</td>
		<td>价格(元)</td>
		<td>描述</td>
		<td>开始日期</td>
	{% if boolWorks == '0' %}
	<td>结束日期</td>
	{%endif%}
		<td colspan="2">操作</td>
	</tr>
</thead>
<tbody>
	{%  for article in articles%}
	<tr>
		<td>{{ forloop.counter }}</td>
		<td>{{ article.price|default:" " }}</td>
		<td>{{ article.title }}</td>
		<td>{{ article.insertDate|date:'Y-m-d' }}</td>
		{% if boolWorks == '0'%}
		<td>{{ article.endDate|date:'Y-m-d'}}</td>
		{% endif %}
		<td><a href="/manage/article/update/{{ article.id}}/">修改</a></td>
		<td><a href="javascript:void(0);" onclick="articleDel({{ article.id }})">删除</a></td>
	</tr>
	{% endfor %}
</tbody>
</table>
<ul class="am-pagination am-pagination-centered">
	{%  if articles.has_previous %}
	<li>
		<a href="javascript:void(0);" onclick='getTheArticle({{boolWorks}},{{articles.previous_page_number}})'>&laquo; 上一页</a>
	</li>
	{% else %}
	<li class="am-disabled">
		<a href="javascript:void(0);" >&laquo; 上一页</a>
	</li>
	{% endif %}
	{%  if articles.has_next  %}
	<li>
		<a href="javascript:void(0);" onclick='getTheArticle({{boolWorks}},{{articles.next_page_number}})'>下一页 &raquo;</a>
	</li>
	{% else %}
	<li class="am-disabled">
		<a href="javascript:void(0);" >下一页 &raquo;</a>
	</li>
	{% endif %}
</ul>

