{% if  articles %}
<table class="am-table am-table-bordered am-table-radius am-table-hover list-task">
	<thead>
		<tr style="color:#0e90d2"> 
			<td>价格</td>
			<td>信息</td>
			<td>结束时间</td>
		</tr>
	</thead>
	<tbody>
		{% for article in articles %}
		<tr>
			<td>
				<p>
				<em class="list-task-reward">￥{{article.price}}</em>	
				</p>
			</td>
			<td>
				<p>
				<a href="/get/article/{{article.id}}/" class="list-task-title" title="{{article.title}}" >{{article.title}}</a>
				</p>
				<p class="list-task-ctn">{{article.content|slice:"10"}}</p>
			</td>
			<td>
				<span>{{article.endDate|date:"Y-m-d"}}</span>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<ul class="am-pagination am-pagination-centered">
	{% if articles.has_previous %}
		<li><a href="javascript:void(0);" onclick="getArticles({{articles.previous_page_number}})">&laquo; 上一页</a></li>
	{% else %}
		<li class="am-disabled"><a href="javascript:void(0);">&laquo; 上一页</a></li>
	{% endif %}
	{%if articles.has_next %}
		<li ><a href="javascript:void(0);" onclick="getArticles({{articles.next_page_number}})">下一页 &raquo;</a></li>
	{% else %}
		<li class="am-disabled"><a href="javascript:void(0);">下一页 &raquo;</a></li>
	{% endif %}
</ul>
{% else%}
<center>
	<h1>对不起,没有相关数据</h1>
</center>
{% endif %}


