<script>
	function login(){
		$.ajax({
			type:"POST",
			data:$('#signupForm').serialize(),
			url:"",
			success:function(data){
				alert(data);
				location.reload();
			}
		});
		return false;
	}
</script>
<div class="register-form">
	<form method="post" action="{% url 'userLogin'%}" id="signupForm" class="am-form" data-am-validator >
		{% csrf_token %}
		<fieldset>
			<legend>登陆易数网</legend>
			<div class="am-form-group">
				<label for="username">用户名</label>
				<input type="text" id="username" name="userName" minlength="3" placeholder="请输入用户名" required/>
			</div>
			<div class="am-form-group">
				<label for="password">密码</label>
				<input type="password" name="password" id="password" placeholder="请输入密码" pattern="^\w{6,}$" data-foolish-msg="请填写密码" required/>
				<a href="#" class="fg-psw">忘记密码？</a>
			</div>
			<center><button class="am-btn am-btn-primary" type="submit" id="right-now">立即登陆</button></center>
			<div class="go-reg">
				<center><p>还没有易数网账号？<a href="{%url 'userAdd'%}">立即注册 <span class="am-icon-arrow-circle-right"></span></a></p></center>
			</div>
		</fieldset>
	</form>
</div>
