<script>
function checkTheUserName(id){
	username = $("#id_username").val();
	if (username != ""){
		url = "/get/check/"+username+"/";
	$.get(
			url,function(data){
				if (data == 1){
					$("#unamespan").html("<ul><li>该用户已注册</li></ul>");	
				}else{
					$("#unamespan").html("");	
				}
			}
		 );
	}
}	
</script>
<div class="register-form">
	<form action="{% url 'userAdd'%}" method="POST" id="registerForm" class="am-form" data-am-validator>
	{% csrf_token %}
	<fieldset>
		<legend>注册账号，免费加入易数网</legend>
		<div class="am-form-group">
			<label for="{{userForm.username.id_for_label}}">帐号</label>
			{{userForm.username}}
			<span id="unamespan">
			{{userForm.username.errors}}
			</span>
		</div>
		<div class="am-form-group">
			<label for="{{userForm.password.id_for_label}}">密码</label>
			{{userForm.password}}
			<span>
				{{userForm.password.errors}}
			</span>
		</div>
		<div class="am-form-group">
			<label for="{{userForm.conpassword.id_for_label}}">确认密码</label>
			{{userForm.conpassword}}
			<span>
				{{userForm.conpassword.errors}}
			</span>
		</div>
		<div class="am-form-group">
			<label for="{{userForm.email.id_for_label}}">邮箱</label>
			{{userForm.email}}
			<span>
				{{userForm.email.errors}}
			</span>
		</div>
		<div class="am-form-group">
			<label for="{{userForm.sex.id_for_label}}">性别：</label>
			{{userForm.sex}}
			<span>
				{{userForm.sex.errors}}
			</span>
		</div>
		<div class="am-form-group">
			<label for="{{userForm.phonenum.id_for_label}}">电话号码</label>
			{{userForm.phonenum}}
			<input type="hidden" name="date_joined">
			<span>
				{{userForm.phonenum.errors}}
			</span>
		</div>
		<div class="am-form-group">
			<label for="{{userForm.companyname.id_for_label}}">公司或学校名称</label>
			{{userForm.companyname}}
			<span>
				{{userForm.companyname.errors}}
			</span>
		</div>
		<button class="am-btn am-btn-primary" type="submit" id="registerButton">确认注册</button>
		<div class="provision">
				我已阅读并同意
			<a href="#" target="_blank">易数网服务协议</a>
		</div>
	</fieldset>
</form>
</div>
<script>
</script>
