<div class="register-form">
<form action="{% url 'userAdd'%}" method="POST" id="registerForm" class="am-form" data-am-validator>
	{% csrf_token %}
	<fieldset>
		<legend>注册账号，免费加入数字网</legend>
		<div class="am-form-group">
			<label for="username">帐号</label>
			<input type="text" id="username" name="username" minlength="3" placeholder="输入用户名（至少三个字符）" required/>
		</div>
		<div class="am-form-group">
			<label for="password">密码</label>
			<input type="password" id="password" name="password" placeholder="请输入六位以上的数字字母组合" pattern="^\w{6,}$" data-foolish-msg="请填写密码" required/>
		</div>
		<div class="am-form-group">
			<label for="password2">确认密码</label>
			<input type="password" id="password2" name="conpassword" placeholder="请重复上面的密码" onblur="checkPassword(password,password2)" data-equal-to="#password" required/>
		</div>
		<div class="am-form-group">
			<label for="email">邮箱</label>
			<input type="email" id="email" name="email" placeholder="输入邮箱" required/>
		</div>
		<div class="am-form-group">
			<label>性别：</label>
			<label class="am-radio-inline">
				<input type="radio" value="0" name="sex" data-am-ucheck required> 男
			</label>
			<label class="am-radio-inline">
				<input type="radio" value="1" name="sex" data-am-ucheck checked> 女
			</label>
		</div>
		<div class="am-form-group">
			<label for="phonenum">电话号码</label>
			<input type="text" id="phonenum" name="phonenum" placeholder="输入您的电话号码" required/>
		</div>
		<input type="hidden" name="date_joined"/>

		<div class="am-form-group">
			<label for="company">公司或学校名称</label>
			<input type="text" id="companyname" name="comanyname" placeholder="输入您的单位名称" />
		</div>
		<button class="am-btn am-btn-primary" type="submit" id="registerButton">确认注册</button>
		<div class="provision">
			我已阅读并同意
			<a href="#" target="_blank">数字网服务协议</a>
		</div>
	</fieldset>
</form>
</div>
<script>
</script>
